@charset "utf-8";
@import url(/css/base/reset.css);
@import url(/css/base/common.css);
@import url(/css/base/loading.css);

@import url(form.css);
@import url(table.css);
@import url(button.css);
@import url(modal.css);
@import url(chart.css);

/* common */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.btn + .btn {
  margin-left: 10px;
}
.btns {
  margin-bottom: 20px;
}
/* 
.btn-line{border:solid 1px #ccc;background:#fff; color:#666}
.btn.small{height: 28px; line-height:26px; font-size:12px; padding:0 5px; border-radius:3px;;}
.btn.icon{display: flex; align-items: center;}
.btn.icon > .mdi{display: flex;  font-size:17px; margin-right:4px; } */
.pageView {
  padding: 0px 0px 30px 30px;
  min-height: 100%;
}
#modals {
  position: relative;
  z-index: 99;
}
.guideTitle {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin: 30px 0;
}
/* layout */
.layout {
  width: 100%;
  height: 100%;
  display: flex;
  background: #3c3e4a;
}
.layout > header {
  flex: 0 0 80px;

  font-size: 12px;
  padding: 30px 0;
}
.contentwrap {
  width: 100%;
  height: 100%;
  background: #eee;
}
.layout .lnb {
  flex: 0 0 200px;
  border-radius: 30px 0 0 30px;
  padding-top: 117px;
  padding-left: 32px;
  background: #25272f;
}
.contentwrap .content {
  height: calc(100% - 97px);
  width: 100%;
  overflow: auto;
}
footer {
  background: #202020;
  width: 100%;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #636572;
}
.menuTop.layout > header {
  display: none;
}
.menuTop.layout .contentwrap {
  display: block;
  position: relative;
  height: calc(100% - 50px);
}
.menuTop.layout .lnb {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #ccc;
}
.menuTop.layout .content {
  padding-top: 80px;
}
#app {
  height: 100%;
  min-height: 100%;
}
.wrap {
  height: 100%;
  min-height: 100%;
}

/* section */
.section-share {
  display: flex;
  width: 100%;
}
.section-share .sharebox {
  min-height: 200px;
  flex: 1 1 auto;
  border: solid 1px #ccc;
  background: #fafafa;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.section-share .sharebox + .sharebox {
  margin-left: 10px;
}
.section-share.fixed .sharebox:nth-of-type(1) {
  flex: 0 0 100px;
}

/*tab*/
.tablist {
  width: 100%;
  border-bottom: solid 1px #ddd;
  position: relative;
}
.tablist .tabdec {
  position: absolute;
  right: 0;
  top: 0;
}
.tablist ul {
  display: flex;
  position: relative;
}
.tablist .btn-tab {
  min-width: 155px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border: solid 1px #ddd;
  border-bottom: none;
  background: #f7f9fa;
  font-size: 14px;
  color: #999;
}
.tablist .btn-tab + .btn-tab {
  border-left: none;
}
.tablist .active .btn-tab {
  background: #fff;
  color: #1d94e5;
  font-weight: 700;
}
.tablist .ani {
  display: block;
  width: 155px;
  height: 2px;
  background: #1d94e5;
  position: absolute;
  left: 0;
  top: 0px;
  transition: left 0.3s;
}
.tabcontent .tabpanel {
  padding: 0;
  opacity: 0;
  transition: all 0.2s;
}
.tabcontent .tabpanel.view {
  padding: 10px 0 0 0;
  opacity: 1;
}

/* 페이징 처리 */
.pagination {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.page-item + .page-item {
  margin-left: 6px;
}
.page-item .page-link {
  min-width: 26px;
  height: 26px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 12px;
  color: #767676;
}
.page-item.active .page-link {
  border-color: var(--point-txt-color);
  background-color: var(--point-txt-color);
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
}
.page-item.first .page-link {
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0002 16.728L13.2722 12L18.0002 7.272L16.7282 6L10.7282 12L16.7282 18L18.0002 16.728Z' fill='%23D2D2D2'/%3E%3Cpath d='M13.0002 16.728L8.27224 12L13.0002 7.272L11.7282 6L5.72825 12L11.7282 18L13.0002 16.728Z' fill='%23D2D2D2'/%3E%3C/svg%3E");
}
.page-item.prev .page-link {
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0001 16.7272L11.2721 11.9992L16.0001 7.27121L14.7281 5.99921L8.72808 11.9992L14.7281 17.9992L16.0001 16.7272Z' fill='%23D2D2D2'/%3E%3C/svg%3E");
}
.page-item.next .page-link {
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00043 7.27278L12.7284 12.0008L8.00043 16.7288L9.27243 18.0008L15.2724 12.0008L9.27243 6.00078L8.00043 7.27278Z' fill='%23D2D2D2'/%3E%3C/svg%3E");
}
.page-item.last .page-link {
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00024 7.272L10.7282 12L6.00024 16.728L7.27224 18L13.2722 12L7.27224 6L6.00024 7.272Z' fill='%23D2D2D2'/%3E%3Cpath d='M11.0002 7.272L15.7282 12L11.0002 16.728L12.2722 18L18.2722 12L12.2722 6L11.0002 7.272Z' fill='%23D2D2D2'/%3E%3C/svg%3E");
}

/* 타이틀박스 */
.titlebox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
}
.titlebox.img .pagetitle {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585q.084.236.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5q.001-.264.085-.5m6.769 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708 M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5' fill='%23191b21'/%3E%3C/svg%3E");
}
.titlebox .pagetitle {
  font-size: 22px;
  font-weight: 700;
}
.titlebox .subdec {
  font-size: 15px;
  font-weight: 700;
}
.titlebox .titleright button + button {
  margin-left: 10px;
}

/* 아코디언 */
.accordionBox {
  width: 100%;
  height: 40px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.accordionBox + .accordionBox {
  margin-top: 30px;
}
.accordionBox .accordion_top {
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}
.accordionBox .accordion_top:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 10px;
  background: url("/images/icon-arrow-down.svg") no-repeat 0 0/100%;
}
.accordionBox .accordion_cons {
  height: 0;
  padding: 0 20px;
  transition: all 0.3s;
}
.accordionBox .acc_content {
  display: none;
}
.accordionBox.open {
  height: auto;
}
.accordionBox.open .accordion_top:after {
  background: url("/images/icon-arrow-up.svg") no-repeat 0 0/100%;
}
.accordionBox.open .accordion_cons {
  height: auto;
  padding: 20px;
  border-top: solid 1px #ddd;
  transition: all 0.3s;
}
.accordionBox.open .acc_content {
  display: block;
}
/* 리스트 */
.listline,
.listheader {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 40px;
}
.listline {
  height: 60px;
  border: solid 1px #ddd;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
.listbox .cellIcon {
  flex: 0 0 40px;
  text-align: center;
}
.listbox .listCell {
  flex: 1;
  text-align: center;
}
.listbox .cellTitle {
  flex: 3;
  font-weight: 700;
}
.listline + .listline {
  margin-top: 20px;
}
.listheader {
  margin-bottom: 20px;
}
.listheader .cellIcon,
.listheader .listCell,
.listheader .cellTitle {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

/* 툴팁 */
.toolTip {
  display: inline-block;
}
.tooltipbox {
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  position: absolute;
  width: max-content;
  display: none;
}
.tooltipbox.open {
  display: block;
}
.tooltipbox:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid rgba(0, 0, 0, 0.5); /* 화살표 */
  left: -4px;
  top: 14px;
}
.tooltipbox.bottom:after {
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.5); /* 화살표 */
  border-right: 4px solid transparent;
  left: 50%;
  top: -8px;
}
.tooltipbox.right:after {
  border-top: 4px solid transparent;
  border-left: 4px solid rgba(0, 0, 0, 0.5); /* 화살표 */
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  left: 100%;
  top: calc(50% - 4px);
}
.tooltipbox.top:after {
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid rgba(0, 0, 0, 0.5); /* 화살표 */
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  left: 50%;
  top: 100%;
}

.ui-no-date {
  padding: 50px 0;
}

.ui-no-date::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' fill='none'/%3E%3Crect x='1' y='1' width='30' height='30' rx='15' fill='%23CCCCCC'/%3E%3Crect x='14.4004' y='13.6001' width='3.2' height='9.6' rx='1.6' fill='white'/%3E%3Crect x='14.4004' y='8.80002' width='3.2' height='3.2' rx='1.6' fill='white'/%3E%3C/svg%3E");
  background-size: 50px 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.ui-no-date p {
  margin-top: 15px;
  color: #444;
  text-align: center;
}

.cardwrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: -20px;
}
.card {
  flex: 1;
  flex-shrink: 1;
  flex-basis: 400px;
  border-radius: 5px;
  padding: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  align-items: stretch;
  background: #fff;
  border: solid 1px #ddd;
}
.card .pagetitle {
  font-size: 16px;
  min-height: 30px;
  line-height: 26px;
}
.card .pagetitle .subtext {
  font-size: 13px;
  display: block;
  color: #c9c9d4;
  font-weight: 500;
}
.card .titlebox {
  border: none;
}
.card .titlebox.img .pagetitle {
  background-size: 30px;
  padding-left: 30px;
}
